@using DojoActivity.Models
@model List<Activity>

        <style>
            *{
                margin:0;
                padding:0;
            }
            
            body {
            background-image:url('/images/maya1.jpg');
            height: 100vh;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        
            }

            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
    
<body>
    <center>
        <div class="container">
            
            <br>
            <h2 style="color:#ffff4d">Event Planner Center</h2> 
            <br>
            <span style="color:red">Welcome @ViewBag.firstname @ViewBag.lastname !</span>
            
            <br><br>
            
            <a href="/new"><button type="button" class="btn btn-success">Add New Activity!</button></a>
            | <a href="/logout"><button  type="button" class="btn btn-danger">Log off</button></a>
            <br>
            <br>

            <hr>

            <table>
                <tr>
                    <th>Event</th>
                    <th>Date and Time</th>
                    <th>Location</th>
                    <th>Durantion</th>
                    <th>Event Manager</th>
                    <th>participants</th>
                    <th>Actions</th>
                </tr>
                @{
                    foreach (var w in @Model)
                    {
                    <tr>
                        <td><a href="/show/@w.ActivityId">@w.Title</a></td>
                        <td>@w.Date.ToString("dddd, dd/MM/yyyy @") <strong> @w.Time.ToShortTimeString()</strong></td> 
                        <td><a href="https://www.google.com/maps/embed/v1/search?q=@w.Location&key=AIzaSyDoztwQzwA4ReH0gj0fBFBmSRp0-AQ-B8E" target="_blank">
                            @w.Location </a></td>
                        <td>@w.Duration @w.DurationForm</td>
                        <td>@w.Creator.FirstName @w.Creator.LastName </td>
                        <td>@w.participant.Count</td>
                        <td> 
                            @{
                                var count =0;
                                foreach (var g in @w.participant)
                                {
                                    if(@ViewBag.UserId == g.UserId)
                                    {
                                        count++;
                                    }
                                }
                            
                                if(count ==0)
                                {
                                    <a class="btn btn-success" href="/rsvp/@w.ActivityId">Join</a>
                                }
                                else
                                {
                                    <a class="btn btn-danger" href="/rsvp/@w.ActivityId">Leave</a>
                                }
                            }
                            @if(@ViewBag.UserId == @w.UserId)
                            { 
                            <a href="/deleteOne/@w.ActivityId"> | Delete</a>
                            }
                        
                        </td>
                        </tr>
                    }
                }
                    
                </tr>
            </table>
        </div>  
    </center>
</body>

