@using DojoActivity.Models;
@model Activity;

<style>
    *{
        margin:0;
        padding:0;
    }
    .container {
        background-image:url('/images/back3.png');
            height: 100vh;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    }
</style>
<center>
<body>
    <div class="container">
        <br>
        <p><a href="/home"> Home </a>  |  <a href="/logout"> Log off </a></p><br>
        <h2 style="color:#661a00">Event Details and Location</h2><br>

        <hr><br>
        <h2 style="color:#cc00cc">@ViewBag.ShowOne.Title</h2><br>

        <h3> Event Manager: <span style="color:#ff0066">@ViewBag.ShowOne.Creator.FirstName @ViewBag.ShowOne.Creator.LastName</span></h3><br>

        <h3> Date: <span style="color:#ff0066">@ViewBag.ShowOne.Date.ToString("MM/dd/yyyy")</span></h3><br>
        <h3> Time: <span style="color:#ff0066">@ViewBag.ShowOne.Time.ToShortTimeString()</span></h3><br>
        <h3> Description: <span style="color:#ff0066">@ViewBag.ShowOne.Description</span></h3><br>

        <h4>Participants:</h4>
        @{ 
        <ul>
            @foreach (var h in @ViewBag.ShowOne.participant)
            {
                <li style="color:red">@h.User.FirstName @h.User.LastName</li>
            }
        </ul>
        }
        <br>
        <h3> Location: <span style="color:#ff0066">@ViewBag.ShowOne.Location</span></h3><br>
        <div class="map">
        <iframe width="334" height="400" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?q=@ViewBag.ShowOne.Location&key=AIzaSyDoztwQzwA4ReH0gj0fBFBmSRp0-AQ-B8E" allowfullscreen></iframe> 
        </div>
    </div>
</body>
</center>